<div id="navigationMenu">
	<form action="/home">
		<input class="navButton" id="Home" action="/home" type="submit" method="get" value="Home" />
	</form>
	<form action="/search">
		<input class="navButton" id="Search" action="/search" type="submit" method="get" value="Search"/>
	</form>
	<form action="/favorites">
		<input class="navButton" id="Favorites" action="/favorites" type="submit" method="get" value="Favorites"/>
	</form>
	<form action="/recommendations" enctype="application/json">
		<input class = "navButton" id="Recommendations" action="/recommendations" type="submit" method="get" value="Recommendations"/>
	</form>
</div>