<!DOCTYPE html>
<html>
<header>
	{{> header}}
</header>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
	<h1>About Me</h1>
	<a href="/">Home</a>
	<p></p>
	<a href="/weather">Weather</a>
	<p></p>
	<a href="/image">Image</a>
	<p>I'm Justin Chuang, welcome to my page</p>
</body>
	{{> footer}}
<!--footer>
	<br><br><br>
	<p>--Copyright {{year}}--</p>
</footer> -->

</html>