<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    {{> style}}
</head>

<body>
    {{> navigation}}
    <div class="contentDiv" id="homePage">
        <h1>My Movie List</h1>
        Use the navigation bar on the left to go through our website features<br><br>
        Home - Return to this page<br>
        Search - Search for movies from TheMovieDB based on key words<br>
        Favorites - The movies you favorited from search can be found here<br>
        Recommendations - Generate recommendations for movies based on your favorites<br>
    </div>
</body>

</html>